@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000a23;
  height: 100vh;
  background: #fff;
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
